:host{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-container{
    display: flex;   
    align-items: center;
    // width: 90%; no es necesario ya que le asigne el padding en el papá
    padding: 2rem;
}
.squares-for-code{
    display: flex;   
    gap: 8px;
    .squares {
        width: 2.5rem;
        height: 5rem;
        ::ng-deep .mat-mdc-text-field-wrapper{
            height: 2.5rem;
            font-size: 2rem;
            padding: 0;
        }
    }
}
.container-code{
    display: flex;
    flex-direction: column;
    align-items: center;
}