:host{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-container{
    display: flex;   
    align-items: center;
    // width: 90%; no es necesario ya que le asigne el padding en el papá
    padding: 2rem;
}
.squares-for-code{
    display: flex;   
    gap: 12px
}
.container-code{
    display: flex;
    flex-direction: column;
    align-items: center;
}