<div class="info-personal-container">
  <!-- Form Content -->
  <form [formGroup]="personaForm" (ngSubmit)="onSubmit()" class="personal-info-form">
    
    <!-- Nombres Row --------------------------------------------------------------------------------------->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label> Primer Nombre </mat-label>
        <input matInput formControlName="primerNombre" placeholder="Primer Nombre">
        <mat-icon matPrefix> person </mat-icon>
        <mat-error *ngIf="primerNombre?.invalid && primerNombre?.touched">
          <span *ngIf="primerNombre?.errors?.['required']">El primer nombre es requerido</span>
          <span *ngIf="primerNombre?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Segundo Nombre</mat-label>
        <input matInput formControlName="segundoNombre" placeholder="Segundo Nombre">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="segundoNombre?.invalid && segundoNombre?.touched">
          <span *ngIf="segundoNombre?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Primer Apellido</mat-label>
        <input matInput formControlName="primerApellido" placeholder="Primer Apellido">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="primerApellido?.invalid && primerApellido?.touched">
          <span *ngIf="primerApellido?.errors?.['required']">El primer apellido es requerido</span>
          <span *ngIf="primerApellido?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput formControlName="segundoApellido" placeholder="Segundo Apellido">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="segundoApellido?.invalid && segundoApellido?.touched">
          <span *ngIf="segundoApellido?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Documento Row ----------------------------------------------------------------------------------->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select formControlName="idTipoDocumento">
          <mat-option value="1">Cédula de Ciudadanía</mat-option>
          <mat-option value="2">Cédula de Extranjería</mat-option>
          <mat-option value="3">Tarjeta de Identidad</mat-option>
          <mat-option value="4">Pasaporte</mat-option>
        </mat-select>
        <mat-icon matPrefix>credit_card</mat-icon>
        <mat-error *ngIf="idTipoDocumento?.invalid && idTipoDocumento?.touched">
          <span *ngIf="idTipoDocumento?.errors?.['required']">Seleccione el tipo de documento</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Número de Documento</mat-label>
        <input matInput formControlName="numeroDocumento" placeholder="Ejm: 1234567890">
        <mat-icon matPrefix>numbers</mat-icon>
        <mat-error *ngIf="numeroDocumento?.invalid && numeroDocumento?.touched">
          <span *ngIf="numeroDocumento?.errors?.['required']">El número de documento es requerido</span>
          <span *ngIf="numeroDocumento?.errors?.['maxlength']">Máximo 128 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Fecha de Expedición del Documento</mat-label>
        <input matInput [matDatepicker]="expedicionPicker" formControlName="fechaExpedicionDocumento" placeholder="2025/06/18">
        <mat-datepicker-toggle matSuffix [for]="expedicionPicker"></mat-datepicker-toggle>
        <mat-datepicker #expedicionPicker></mat-datepicker>
        <mat-icon matPrefix>date_range</mat-icon>
        <mat-error *ngIf="fechaExpedicionDocumento?.invalid && fechaExpedicionDocumento?.touched">
          <span *ngIf="fechaExpedicionDocumento?.errors?.['required']">La fecha de expedición es requerida</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Nacimiento y Lugar Row -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="nacimientoPicker" formControlName="fechaNacimiento" placeholder="2025/06/18">
        <mat-datepicker-toggle matSuffix [for]="nacimientoPicker"></mat-datepicker-toggle>
        <mat-datepicker #nacimientoPicker></mat-datepicker>
        <mat-icon matPrefix>cake</mat-icon>
        <mat-error *ngIf="fechaNacimiento?.invalid && fechaNacimiento?.touched">
          <span *ngIf="fechaNacimiento?.errors?.['required']">La fecha de nacimiento es requerida</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Lugar de Nacimiento</mat-label>
        <input matInput formControlName="lugarNacimiento" placeholder="Antioquia, Medellín">
        <mat-icon matPrefix>place</mat-icon>
        <mat-error *ngIf="lugarNacimiento?.invalid && lugarNacimiento?.touched">
          <span *ngIf="lugarNacimiento?.errors?.['required']">El lugar de nacimiento es requerido</span>
          <span *ngIf="lugarNacimiento?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Residencia Row -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Departamento de Residencia</mat-label>
        <input matInput formControlName="departamentoResidencia" placeholder="Antioquia">
        <mat-icon matPrefix>location_city</mat-icon>
        <mat-error *ngIf="departamentoResidencia?.invalid && departamentoResidencia?.touched">
          <span *ngIf="departamentoResidencia?.errors?.['required']">El departamento es requerido</span>
          <span *ngIf="departamentoResidencia?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Ciudad de Residencia</mat-label>
        <input matInput formControlName="ciudadResidencia" placeholder="Medellín">
        <mat-icon matPrefix>home</mat-icon>
        <mat-error *ngIf="ciudadResidencia?.invalid && ciudadResidencia?.touched">
          <span *ngIf="ciudadResidencia?.errors?.['required']">La ciudad es requerida</span>
          <span *ngIf="ciudadResidencia?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Dirección Row (más ancho) -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field address-field">
        <mat-label>Dirección de Residencia</mat-label>
        <input matInput formControlName="direccionResidencia" placeholder="Dirección completa">
        <mat-icon matPrefix>location_on</mat-icon>
        <mat-error *ngIf="direccionResidencia?.invalid && direccionResidencia?.touched">
          <span *ngIf="direccionResidencia?.errors?.['required']">La dirección es requerida</span>
          <span *ngIf="direccionResidencia?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Contacto Row -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Número de Teléfono Celular (10 dígitos)</mat-label>
        <input matInput formControlName="numeroTelefono" placeholder="3001234567" type="tel">
        <mat-icon matPrefix>phone</mat-icon>
        <mat-error *ngIf="numeroTelefono?.invalid && numeroTelefono?.touched">
          <span *ngIf="numeroTelefono?.errors?.['required']">El número de teléfono es requerido</span>
          <span *ngIf="numeroTelefono?.errors?.['pattern']">Debe tener exactamente 10 dígitos</span>
          <span *ngIf="numeroTelefono?.errors?.['maxlength']">Máximo 63 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="correoElectronico" placeholder="ejemplo@correo.com" type="email">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="correoElectronico?.invalid && correoElectronico?.touched">
          <span *ngIf="correoElectronico?.errors?.['required']">El correo electrónico es requerido</span>
          <span *ngIf="correoElectronico?.errors?.['email']">Ingrese un correo válido</span>
          <span *ngIf="correoElectronico?.errors?.['maxlength']">Máximo 127 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Información Adicional Row -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="idGenero">
          <mat-option value="1">Masculino</mat-option>
          <mat-option value="2">Femenino</mat-option>
          <mat-option value="3">Otro</mat-option>
        </mat-select>
        <mat-icon matPrefix>wc</mat-icon>
        <mat-error *ngIf="idGenero?.invalid && idGenero?.touched">
          <span *ngIf="idGenero?.errors?.['required']">Seleccione el género</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Enfoque Diferencial</mat-label>
        <mat-select formControlName="idEnfoqueDiferencial">
          <mat-option value="1">Ninguno</mat-option>
          <mat-option value="2">Afrodescendiente</mat-option>
          <mat-option value="3">Indígena</mat-option>
          <mat-option value="4">ROM</mat-option>
          <mat-option value="5">LGBTI+</mat-option>
          <mat-option value="6">Persona con Discapacidad</mat-option>
        </mat-select>
        <mat-icon matPrefix>diversity_3</mat-icon>
        <mat-error *ngIf="idEnfoqueDiferencial?.invalid && idEnfoqueDiferencial?.touched">
          <span *ngIf="idEnfoqueDiferencial?.errors?.['required']">Seleccione el enfoque diferencial</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Contacto de Emergencia Section -->
    <div class="header-section">
      <h3>
        <mat-icon>contact_emergency</mat-icon>
        Informacion de Contacto
      </h3>
    </div>

    <!-- Contacto de Emergencia Row -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre de Contacto</mat-label>
        <input matInput formControlName="nombreContacto" placeholder="Nombre completo del contacto">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="nombreContacto?.invalid && nombreContacto?.touched">
          <span *ngIf="nombreContacto?.errors?.['required']">El nombre del contacto es requerido</span>
          <span *ngIf="nombreContacto?.errors?.['maxlength']">Máximo 255 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Celular de Contacto</mat-label>
        <input matInput formControlName="numeroTelefonoContacto" placeholder="3001234567" type="tel">
        <mat-icon matPrefix>phone</mat-icon>
        <mat-error *ngIf="numeroTelefonoContacto?.invalid && numeroTelefonoContacto?.touched">
          <span *ngIf="numeroTelefonoContacto?.errors?.['required']">El teléfono del contacto es requerido</span>
          <span *ngIf="numeroTelefonoContacto?.errors?.['pattern']">Debe tener exactamente 10 dígitos</span>
          <span *ngIf="numeroTelefonoContacto?.errors?.['maxlength']">Máximo 63 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Correo de Contacto</mat-label>
        <input matInput formControlName="correoElectronicoContacto" placeholder="contacto@correo.com" type="email">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="correoElectronicoContacto?.invalid && correoElectronicoContacto?.touched">
          <span *ngIf="correoElectronicoContacto?.errors?.['required']">El correo del contacto es requerido</span>
          <span *ngIf="correoElectronicoContacto?.errors?.['email']">Ingrese un correo válido</span>
          <span *ngIf="correoElectronicoContacto?.errors?.['maxlength']">Máximo 127 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

