.mat-card-container{
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba($color: #eeeeee, $alpha: 8.0);
    border-radius: 1.7rem;
    max-width: 860px;
}
.img-perfiles{
    border-radius: 1.7rem 1.7rem 0rem ;
    width: 100%;
}