<div>
  <mat-card class="mat-card-container">
    <img src="assets/img/banco_info_perfiles.svg" class="img-perfiles" />
    <div>
      <br />
      <button mat-button (click)="volver()">
        <mat-icon>arrow_back</mat-icon>
        volver
      </button>
      <!-- contenido aqui, ojito con el height porque esta a la
            <br> fuerza y no depende del tamaño de los componentes que van a qui adentro xd -->
      <!-- @if (comprobarCodigoP) {
                <app-comprobar-codigo [email]="emailUser()"  (next)="verificarCodigoValido($event)"> </app-comprobar-codigo>

            }
            @else{
                <app-crear-clave></app-crear-clave>
            } -->
      <ng-content></ng-content>
    </div>
  </mat-card>
</div>
