.login-form{
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.wid-100{
 width: 100%;
}
input{ // TODO: pasar esto a transversal
  width: 70%; //como hacerlo mas ancho? xd suppngo que con matformfield
}