:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 100%;
  padding: 1rem;
    // margin:0;
    padding: 0;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2d5f00;
  }
}

.wid-100 {
  width: 100%;
  
  @media (max-width: 768px) {
    ::ng-deep .mat-mdc-form-field {
      font-size: 14px;
    }
    
    input {
      font-size: 14px;
    }
  }
}

.non-space {
  padding: 0;
  margin: 0;
}

.mar-05rem {
  margin: 0.5rem;
}
.main-color{
 color: #2d5f00;
}

.password-reset-link {
  position: relative;
  display: inline-block;
  margin: 0.4rem 0;
  font-size: 0.9rem;
}

::ng-deep .custom-tooltip {
  font-size: 14px !important;
  background-color: rgba(97, 97, 97, 0.9) !important;
  padding: 8px 12px !important;
}

a.disabled {
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

::-ms-reveal {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}