@if(showBack){
<button mat-button routerLink="/auth">
  <mat-icon>arrow_back</mat-icon>
  Volver
</button>
}
<h1>Términos y condiciones</h1>
<mat-divider></mat-divider>
<section class="terminos-wrapper">
  <h3 class="title">
    AUTORIZACIÓN DE TRATAMIENTO DE MIS DATOS PERSONALES CON TÉRMINOS Y
    CONDICIONES
  </h3>

  <p>
    Bajo los términos del presente documento, el cual he leído y comprendido en
    su totalidad las características, requisitos y condiciones para la
    suscripción y diligenciamiento de mis datos personales en el aplicativo
    Repositorio de Información de Perfiles Académicos Y Laborales de la Alcaldía
    De Bucaramanga de la ALCALDÍA DE BUCARAMANGA, así mismo, declaro que he
    comprendido los términos de referencia para los efectos anotados y que la
    información suministrada es veraz y corresponde a la realidad, así como
    también declaro que comprendo y acepto a cabalidad que:
  </p>

  <p>
    El registro de la información laboral y/o profesional en este aplicativo NO
    implica compromiso o responsabilidad alguna por parte de la ALCALDÍA DE
    BUCARAMANGA para suscribir un contrato de prestación de servicios o de apoyo
    a la gestión, ni ningún otro tipo de vínculo laboral. Al realizar su
    inscripción, usted pone a disposición la información personal, su talento y
    capacidades con el fin de ampliar las posibilidades de acceso al mercado
    laboral, sin que ello suponga una contratación automática por parte de la
    ALCALDÍA DE BUCARAMANGA, ni estar en curso de proceso de selección alguno.
  </p>

  <p>
    El aplicativo de Banco de Información de Perfiles Académicos Y Laborales de
    la Alcaldía De Bucaramanga de la ALCALDÍA DE BUCARAMANGA, tiene por objeto
    conformar un amplio directorio de potenciales oferentes de servicios que
    permita a la entidad escoger colaboradores con base en el mérito, esto es,
    por sus aptitudes, actitudes, desempeño y capacidad, en la contratación de
    talento humano mediante contrato de prestación de servicios profesionales
    y/o de apoyo a la gestión, según sean las necesidades y capacidades de la
    ALCALDÍA DE BUCARAMANGA.
  </p>

  <p>
    El registro y actualización de la información en el aplicativo de Banco de
    Información de Perfiles Académicos Y Laborales de la Alcaldía De Bucaramanga
    de la ALCALDÍA DE BUCARAMANGA es un servicio <strong>GRATUITO</strong> y sin
    intermediarios al cual pueden acceder las personas interesadas en el
    registro de su perfil laboral o profesional en el aplicativo, a través del
    link
    <a
      href="https://registroinformacion.bucaramanga.gov.co"
      target="_blank"
      rel="noopener noreferrer"
      >https://registroinformacion.bucaramanga.gov.co</a
    >
  </p>

  <p>
    El proceso de verificación de la información está amparado bajo ley
    estatutaria 1266 de 2008, ley 1581 del 2012, ley 1712 del 2014, decreto 255
    del 2022, decreto 103 del 2015, decreto 1377 del 2013 y decreto 2952 del
    2010 y, que refiere a la Ley de protección de datos (Habeas Data) y la
    normativa municipal que adopta, regula e implementa el Banco de información
    de perfiles académicos y laborales de de la Alcaldía de Bucaramanga bajo la
    estrategia de cultura organizacional 2.0 y se dictan otras disposiciones.
  </p>

  <p>
    El uso de los datos personales del usuario, ciudadano, se encuentran sujetos
    al cumplimiento de las disposiciones legales establecidas, así como, al
    cumplimiento de la Política de Protección de Datos personales de la ALCALDÍA
    DE BUCARAMANGA.
  </p>

  <p>
    La información suministrada en el aplicativo Repositorio de Información de
    Perfiles Académicos Y Laborales de la Alcaldía De Bucaramanga de la ALCALDÍA
    DE BUCARAMANGA, se entenderá recepcionada bajo la presunción de buena fe de
    que trata el artículo 83 de la Constitución Política, por lo tanto, el
    usuario ciudadano, se compromete a suministrar en todo momento información
    veraz, lo que, en todo caso, no limita la facultad de las entidades y
    organismos distritales para verificar su autenticidad. Las anomalías,
    inconsistencias y/o falsedades en la documentación registrada por los
    usuarios ciudadanos, podrán ocasionar sanciones legales y/o reglamentarias a
    que haya lugar, y/o a la exclusión del aplicativo.
  </p>

  <p>
    Con la aceptación de términos y condiciones dispuestos en este documento, el
    interesado declara y acepta que ha leído el instructivo para el
    diligenciamiento del aplicativo Repositorio de Información de Perfiles
    Académicos Y Laborales de de la ALCALDÍA DE BUCARAMANGA, dispuesto en el
    link
    <a
      href="https://registroinformacion.bucaramanga.gov.co"
      target="_blank"
      rel="noopener noreferrer"
      >https://registroinformacion.bucaramanga.gov.co</a
    >, acepta y autoriza los términos y condiciones aquí dispuestos; en
    consonancia con la política de tratamiento de datos personales, ley
    estatutaria 1266 de 2008, ley 1581 del 2012, ley 1712 del 2014, decreto 255
    del 2022, decreto 103 del 2015, decreto 1377 del 2013 y decreto 2952 del
    2010 y y la normativa municipal que adopta, regula e implementa el Banco de
    información de perfiles académicos y laborales de de la Alcaldía de
    Bucaramanga bajo la estrategia de cultura organizacional 2.0 y se dictan
    otras disposiciones.
  </p>

  <p>
    <strong>Nota:</strong> En concordancia al presente documento, también hace
    parte el manual instructivo de registro junto con los siguientes términos:
  </p>

  <p>
    El Banco de información de perfiles académicos y laborales, opera como una
    herramienta tecnológica abierta y gratuita al público en general con ciertas
    restricciones de manejo de información personal, esta ópera mediante modelo
    de repositorio que busca personas interesadas en cargar información
    relacionada a CAPITAL HUMANO, información que en un futuro podrá servir de
    insumo de consulta caracterizada a disposición de los diferentes despachos
    del municipio que requieran personal para alguna vinculación contractual
    mediante contratos de prestación de servicios profesionales y/o de apoyo a
    la gestión, por ello cada usuario cliente interno y externo podrá de manera
    voluntaria registrar su perfil personal, académico y laboral sin que, en
    ningún caso, conlleve a la obligación de vinculación.
  </p>

  <p>
    El aplicativo web bajo el dominio
    <a
      href="https://registroinformacion.bucaramanga.gov.co"
      target="_blank"
      rel="noopener noreferrer"
      >https://registroinformacion.bucaramanga.gov.co</a
    >
    es administrado por la Oficina de las TICs y la Secretaria Administrativa;
    la cual, estará disponible para que los ciudadanos registren su información
    persona.
  </p>

  <p>
    La información suministrada se entenderá recibida bajo la presunción de la
    buena fe de que trata el artículo 83 de la Constitución Política, por lo
    tanto, se compromete a suministrar en todo momento información veraz, lo
    que, en todo caso, no limita la facultad de las entidades y organismos
    descentralizados para verificar su autenticidad. Las anomalías,
    inconsistencias y/o falsedades en la documentación registrada por los
    ciudadanos, podrá conllevar a sanciones legales y/o reglamentarias a que
    haya lugar, y/o a la exclusión del El Banco de información de perfiles
    académicos y laborales.
  </p>

  <p>
    Los datos registrados serán tratados según la política de tratamiento de
    datos personales del municipio de Bucaramanga (Resolución Nº 0350 del 2023 y
    sus actualizaciones) y los estipulado en el marco regulatorio del El Banco
    de información de perfiles académicos y laborales y previo al registro de
    sus datos personales donde deberá aceptar términos y condiciones para el
    manejo de información.
  </p>

  <p>
    Quien se inscriba en El Repositorio de información de perfiles académicos y
    laborales, lo hará bajo el entendido de que se trata de un Banco de
    información de perfiles académicos y profesionales para una posible
    trasferencia de información acorde a necesidades generales y/o contractuales
    discrecionales del Municipio de Bucaramanga, en ningún caso, estos datos
    generan relación laboral y/o contractual con el ente territorial.
  </p>

  <p>
    Si requiere asistencia y orientación para el registro de información y
    diligenciamiento del perfil o reportar fallas en el sistema podrá
    comunicarse de lunes a viernes al correo electrónico
    <a href="mailto:secretaria-administrativa@bucaramanga.gov.co"
      >secretaria-administrativa&#64;bucaramanga.gov.co</a
    >. Se debe tener cuenta que el momento de su solicitud o reporte deberá
    diligenciar sus datos de identificación tales como, numero de documento,
    nombres, apellidos, correo electrónico personal, número telefónico de
    contacto, cedula escaneada y descripción de la novedad.
  </p>

  <mat-divider></mat-divider>
  <p class="importante">
    <strong>IMPORTANTE:</strong>
    El registro en el Banco de Hojas de Vida, no genera pago alguno y no es
    garantía expresa ni implícita de otorgar contrato a quien haga uso de este
    repositorio.
  </p>
</section>
