
// Custom Theming for Angular Material
// For more information: https://v19.material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/theme-colors' as theme;
@use './app/styles/_variables' as vars;
@use './app/styles/_theme_overrides' as overrides;

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette
    ),
    typography: 'Ubuntu, sans-serif',
    density: 0,
  ));

  a {
    color: var(--primary-color);
  }
}
body {
    margin: 0;
}
html, body { height: 100%; }
body { 
  margin: 0; 
  color: #31333f; 
}
* {
  font-family: 'Ubuntu', sans-serif; 
}
