<form [formGroup]="registerForm" class="register-form">
  <h2>Registrarme</h2>
  <!-- ----------------------------------------------------------- -->
  <mat-form-field class="wid-100">
    <mat-label> Número de documento</mat-label>
    <mat-icon matPrefix class="prefix-icon">badge</mat-icon>
    <input
      matInput
      placeholder=" Número de documento sin puntos ni comas"
      formControlName="documentNumber"
    />
    @if (registerForm.controls['documentNumber'].hasError('required')) {
    <mat-error
      >El número de documento es <strong>obligatorio</strong>
    </mat-error>
    }
    @else if(registerForm.controls['documentNumber'].hasError('pattern') ) {
      <mat-error>Ingresa un número de documento válido </mat-error>
    }
  </mat-form-field>
  <!-- ---------------------------------------------------------- -->
  <mat-form-field class="wid-100">
    <mat-label> Correo electrónico </mat-label>
    <mat-icon matPrefix class="prefix-icon">mail</mat-icon>
    <input matInput placeholder="ejemplo@gmail.com" formControlName="email">
    @if (registerForm.controls['email'].hasError('pattern') && !registerForm.controls['email'].hasError('required')) {
      <mat-error>Por favor ingresa un email válido</mat-error>
    }
    @if (registerForm.controls['email'].hasError('required')) {
      <mat-error>El email es <strong>obligatorio</strong></mat-error>
    }
  </mat-form-field>
        <!-- ------------------------------------------------------------ -->
        <mat-checkbox (change)="clickOnCheckbox=!clickOnCheckbox">
          <span>
            Declaro que he leído y aceptado los
            <a routerLink="/terminos-condiciones">términos y condiciones </a>
            aquí establecidos. 
          </span>
        </mat-checkbox>
        <mat-divider></mat-divider>
        <!-- --------------------------------------------------------------- -->
        <span>
        <br class="align-center">
          Para el proceso de registro se debe verificar su correo electrónico con un código de verificación.
        </span>
        <!-- ------------------------------------------------------------- -->
        <div>
            <!--TODO: [routerLink]="['../hoja-de-vida']" este router va en los atricutos del boton pero falta que vaya a la ruta codigo de verificacion -->
            <!-- routerLinkActive="router-link-active" >  -->
          <button class="mar-05rem"
            mat-flat-button
            type="submit"
            (click)="onSubmit()"
            [disabled]="!registerForm.valid || !clickOnCheckbox || isCooldown"
            
            >
            @if (!isCooldown) { Enviar código }
            @else { Reintenta en {{ cooldownSeconds }}s }
          </button>
        </div>
        <!-- ------------------------------------------------------------- -->
</form>
