:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 500px;
}
.wid-100{
  width: 100%;
}
.non-space{
  padding: 0;
  margin:0;
}
.mar-05rem{
margin: 0.5rem;
}
// span.align-center{
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
