<form [formGroup]="registerForm" class="register-form">
        <h2> Registrarme </h2>
        <!-- ----------------------------------------------------------- -->
        <mat-form-field class="wid-100">
            <mat-label> Número de documento</mat-label>
            <input matInput placeholder=" Número de documento sin puntos ni comas" formControlName="documentNumber" />
            @if (registerForm.controls['documentNumber'].hasError('required')) {
              <mat-error>El número de documento es <strong>obligatorio</strong> </mat-error>
            }  <!-- Si entra al input y se sale 
            (registerForm.controls['documentNumber'].hasError('required'))-->
            @else if(registerForm.controls['documentNumber'].hasError('pattern') ) {
              <mat-error>Ingresa un número de documento válido </mat-error>
            }
            <button matSuffix mat-icon-button>
            <mat-icon (click)="BorrarData()">close</mat-icon>
            </button>
        </mat-form-field>
        <!-- ---------------------------------------------------------- -->
        <mat-form-field class="example-full-width" class="wid-100">
          <mat-label> Correo electrónico </mat-label>
          <input matInput placeholder="ejemplo@gmail.com" formControlName="email">
            @if (registerForm.controls['email'].hasError('pattern') && !registerForm.controls['email'].hasError('required')) {
              <mat-error>Por favor ingresa un email válido</mat-error>
            }
            @if (registerForm.controls['email'].hasError('required')) {
              <mat-error>El email es <strong>obligatorio</strong></mat-error>
            }
            <button matSuffix mat-icon-button>
            <mat-icon> close </mat-icon>
          </button>
        </mat-form-field>
        <!-- ------------------------------------------------------------ -->
        <mat-checkbox (change)="clickOnCheckbox=!clickOnCheckbox">
          <span>
            Declaro que he leído y aceptado los términos
            <br/> 
            <!--TODO: poner el terminos y condiciones en color verde-->
            y condiciones aquí establecidos.
          </span>
        </mat-checkbox>
        <mat-divider></mat-divider>
        <!-- --------------------------------------------------------------- -->
        <span>
        <br>
        Para el proceso de registro se debe verificar su correo electronico con un codigo de verificación.
        </span>
        <!-- ------------------------------------------------------------- -->
        <div class="example-button-row">
            <!--TODO: [routerLink]="['../hoja-de-vida']" este router va en los atricutos del boton pero falta que vaya a la ruta codigo de verificacion -->
            <!-- routerLinkActive="router-link-active" >  -->
          <button
            mat-flat-button
            type="submit"
            (click)="onSubmit()"
            [disabled]="registerForm.invalid|| !clickOnCheckbox"
            
            >
            Enviar código
          </button>
        </div>
        <!-- ------------------------------------------------------------- -->
</form>
